/* Estilos generales */
.login-container {
  position: relative;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  border: 1px solid #CFC3B9; /* Borde en tono beige grisáceo */
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}

/* Botón de cerrar */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #BEAEA0; /* Color beige */
}

.close-button:hover {
  color: #575757; /* Gris oscuro al hacer hover */
}

/* Formulario */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Grupos de entrada */
.input-group {
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #CFC3B9; /* Borde en tono beige grisáceo */
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  background-color: #F0EBF4; /* Fondo claro para los inputs */
  color: #575757; /* Texto en gris oscuro */
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #888; /* Color gris claro */
  font-size: 16px;
  transition: all 0.3s ease;
  pointer-events: none;
}

/* Efecto de desplazamiento de las etiquetas */
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: 0;
  font-size: 12px;
  color: #575757; /* Gris oscuro */
  background-color: #F0EBF4; /* Fondo claro para las etiquetas */
  padding: 0 5px;
}

/* Botón de enviar */
.submit-button {
  padding: 10px;
  background-color: #BEAEA0; /* Color beige */
  color: #212121; /* Texto en gris oscuro */
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.submit-button:hover {
  background-color: #CFC3B9; /* Beige grisáceo al hacer hover */
  transform: scale(1.05);
}

/* Mensaje de error */
.error-message {
  color: #ff4d4d; /* Rojo para mensajes de error */
  font-size: 14px;
  text-align: center;
}
  
/* Enlace de registro */ 
.register-message {
  text-align: center;
  color: #575757; /* Gris oscuro */
}

.register-link {
  color: #BEAEA0; /* Color beige para el enlace */
  text-decoration: none;
  font-weight: bold;
}

.register-link:hover {
  color: #CFC3B9; /* Beige grisáceo al hacer hover */
}